.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
}

.button.full {
  width: 100%;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover:not(:disabled) {
  background-color: #e8e8e8;
}

.button:active:not(:disabled) {
  transform: scale(98%);
}

.button:focus:not(:disabled) {
  outline: rgb(114, 114, 114) solid 2px;
  outline-offset: 2px;
}
